body {
    background-color: #f3f3f3;
}

.body_section {
    /* height: 90%; */
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}