.home {
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    display: flex;
}

.calendar_object_section {
    margin-left: 5%;
    width: 11%;
    min-height: 600px;
    background-color: #2867B2;
    border: 2px solid black;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 2px lightgray;
    box-shadow: 0px 0px 5px 2px lightgray;
}

.calendar_section {
    width: 61%;
    margin-left: 1%;
    margin-right: 1%;
    min-height: 600px;
    background-color: #2867B2;
    border: 2px solid black;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 2px lightgray;
    box-shadow: 0px 0px 5px 2px lightgray;
}

.progress_section {
    width: 26%;
    margin-right: 5%;
    min-height: 600px;
    background-color: #2867B2;
    border: 2px solid black;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 2px lightgray;
    box-shadow: 0px 0px 5px 2px lightgray;
}